.ide {
  background-color: #1d2030;
  font-size: 20px;
  color: white;
  user-select: none;
  padding: 40px;
  border-radius: 0.4em;
  height: calc(100vh - 240px);
}

.ide .tree,
.ide .tree-node,
.ide .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ide .tree-branch-wrapper,
.ide .tree-node__leaf {
  outline: none;
  outline: none;
}

.ide .tree-node {
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.ide .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateX(20px) scale(1.05);
}

.ide .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.ide .tree .tree-node--selected {
  background: rgb(75, 91, 109);
  transform: scale(1.05);
}

.ide .tree-node__branch {
  display: block;
}

.ide .icon {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  display: inline-flex;
  margin-left: 20px;
  gap: 5px;
}

.edit:hover,
.delete:hover {
  transform: scale(1.5);
}
